#Header, #LeftNav, #Content, #Footer{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;

	text-align: center;
}

#Header{
	width: 500px;
}

#Header h1{ 
	font-size: 60px; 
	font-family: "Passion One"; 
	color: #FFBC00; 
	font-weight: bold; 
}

#LeftNav{
	width: 400px;
	float: left;
	padding-bottom: 8px;
}

#Content{
	width: 700px;
	padding: 15px;
}

body{
	background-image: url('dark_wood.png');
}

div{
	background-color: #8E41D5;
	
}

ul{
	list-style-type: none;
	padding-left: 0px;
}

p{
	font-weight: bold;
	font-family: "Arial";
	color: white;
}

h3{
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px
}

a{
	color: white;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
}

a:hover{
	color: pink;
}

img{
	border-radius: 25%;
}

img:hover{
	opacity: 0.8;
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}